.app-card1{
 
    div{
        height:250px;
         width:300px;
        //  background:linear-gradient(180deg,rgba(247, 243, 3, 0.623)1.48%,rgba(247, 243, 3, 0.623)2.52%,rgb(21, 35, 78)89.52%);
         background-position:center;
         background-repeat: no-repeat;
    }
    p
    {
       color:white;
       font-size: 20px;
       font-family:  Helvetica;
    }

}

   
